<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.dao.OrderMapper">
  <resultMap id="resultMap01" type="com.yc.po.Order">
    <id column="oid" property="oid" />
    <result column="name"  property="hotel.name"/>
    <result column="oprice"  property="oprice"/>
    <result column="pic" property="hotel.pic"/>
    <result column="oid" property="oid"/>

  </resultMap>

    <!-- 查询全部 -->
    <select id="findAll" resultMap="resultMap01">
      select oid,`order`.osum,`order`.oprice,hotel.pic, hotel.name from hotel,`order` where `order`.ocid=hotel.id and ostatus=#{ostatus} and uid=#{uid}
    </select>

  <!-- 订单状态更新为已支付 -->
    <update id="updateStatus" parameterType="java.util.List">
      update `order` set ostatus=2 where oid in
      <foreach collection="list" item="Order" open="(" separator="," close=")">
        #{Order.oid}
      </foreach>
    </update>

  <!-- 根据id删除订单 -->
  <delete id="delete" parameterType="com.yc.po.Order">
    delete from `order` where oid = #{oid}
  </delete>

  <!-- 根据酒店id和用户id加入购物车订单 -->
  <insert id="add" parameterType="Order">
    insert into `order` values (null,#{id},#{uid},1,#{oprice},now(),1,null,null,null)
  </insert>

  <!-- 根据商品号，用户编号和状态号查询购物车中是否有未支付的该商品号的商品 -->
  <select id="findByIdAndUid" resultType="Hotel" parameterType="Hotel">
    select oid,ocid,uid,ostatus,oprice from `order` where ocid = #{ocid} and uid = #{uid} and ostatus = #{ostatus}
  </select>

  <!-- 更新订单的商品数量 -->
  <update id="updateNum" parameterType="Hotel">
    update "order" set osum = osum+#{num} where id = #{id}
  </update>
</mapper>